.font-cg {
    font-family: "Century Gothic";
}

.font-verdana {
    font-family: "Verdana Pro SemiBold";
}

.font-gillsans {
    font-family: "Gill Sans Nova";
}

.font-jinkai {
    font-family: "Jin Kai";
}

.font-eraslight {
    font-family: "Eras Light ITC";
}

.font-edwardian {
    font-family: "Edwardian Script ITC";
}

.font-gungsuhche {
    font-family: "GungsuhChe";
}

.font-zhimangxing {
    font-family: "Zhi Mang Xing";
}

.font-mistral {
    font-family: "Mistral";
}

.font-cooperplate {
    font-family: "Copperplate Gothic Light";
}
