section {
  height: 100vh;
}


.g-img {
  background-image: url(https://images.unsplash.com/photo-1594976382948-12e3439721b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.g-word {
  color: white;
  font-size: 64px;
  text-align: center;
}
